*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}

nav{
    background-color: black;
    color: white;
   
}
nav ul{
    display: flex;
    align-items: center;
    height: 65px;
}
.brand-logo{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.brand-logo img{
    width: 44px;
    padding-right: 15px;
}
nav ul li{
    list-style: none;
    margin: 0 25px;
}
.container{
    min-height: 60vh;
    width: 70%;
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto;
    border-radius: 12px;
    padding: 15px 34px;
    background-image: url('bg.jpg');
    background-size: cover;
}
.bottom{
    /* position: sticky;
    bottom: 0; */
    background-color: black;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;


}
#myProgressBar{
    width: 100vh;
    cursor: pointer;
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
    margin: 0 10px;
}
.songItem{
   height: 50px;
   width: 98%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #fff;
   color: black;
   border-radius: 25px;
   margin: 10px 0;
   
}
.songItem img{
   height: 50px;
   margin: 0 12px;
   border-radius: 34px;
}
.scroll{
    height: 62vh;
    width: 485px;
    overflow-y: auto;
}
.songlistPlay{
   display: flex;
   align-items: center;
}
.timestamp{
    margin: 0 2px 0 20px;
}
.songlistPlay i{
    margin: 0 7px;
}
.songinfo{
    position: absolute;
    left: 25%;
}
.gif{
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
